.centerDiv{
    align-items: center;
    width: 100%;
}

/* Centrado de elementos en Angular material */
table {
    margin: 0 auto;
    text-align: center !important;
    width: 100%;        
}

/* Centrado de encabezados */
.mat-header-cell {
    text-align: center;
}